# Point of Interest - Assignment My Location -Python

<img src="image/Propert24.png">

### 1.1: Loading the Python packages

In [1]:
import pandas as pd     # For Data Management
import numpy as np
from geopy.geocoders import Nominatim # For geocoding & Reverse-geocoding
import overpy  # For searching point of interest and others
geolocator = Nominatim(user_agent="my_app")

## Place Search - Geocoding

### 2.1 Searching for the Address of the House

In [2]:
from geopy.geocoders import Nominatim 
geolocator = Nominatim(user_agent="my_app")

In [3]:
Address = "73 Adeniyi, Ikeja, Lagos"

In [4]:
Geo_Coordinate = geolocator.geocode(Address)
Geo_Coordinate.raw

{'place_id': 206594471,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 574497982,
 'boundingbox': ['6.6047127', '6.6047359', '3.3369651', '3.3370429'],
 'lat': '6.6047359',
 'lon': '3.3370429',
 'display_name': 'Adeniyi Jones Avenue, Oregun, Ikeja, Lagos, 100282, Nigeria',
 'class': 'highway',
 'type': 'tertiary',
 'importance': 0.42000000000000004}

In [5]:
Address = "73 Adeniyi, Ikeja, Lagos"
from geopy.geocoders import ArcGIS
ArcGIS_geolocator = ArcGIS()
ArcGIS_geolocator.geocode(Address, exactly_one=False)

[Location(Adeniji St, Lagos, Ikeja, Lagos, (6.63212568255479, 3.348973665958898, 0.0)),
 Location(Ikeja, Lagos, (6.607760000000042, 3.348540000000071, 0.0)),
 Location(Adeniyi Jones Ave, Lagos, Ikeja, Lagos, (6.610631531614608, 3.3449408111218664, 0.0)),
 Location(Adeniji Clos, Lagos, Ifo, Ogun, (6.680839499999999, 3.303153000000015, 0.0)),
 Location(Adeniji St, Lagos, Mushin, Lagos, (6.51360612767523, 3.356400155784806, 0.0)),
 Location(Adeniji Clos, Lagos, Surulere, Lagos, (6.477824366786062, 3.3374891300134717, 0.0)),
 Location(Adeniji St, Lagos, Ifako-Ijaiye, Lagos, (6.6348256493279365, 3.3290042025491755, 0.0)),
 Location(Adeniji St, Lagos, Ajeromi-Ifelodun, Lagos, (6.445931109390635, 3.3269939174586183, 0.0)),
 Location(Adebiyi St, Lagos, Shomolu, Lagos, (6.531720737809772, 3.3756747988485554, 0.0)),
 Location(Adebiyi St, Lagos, Agege, Lagos, (6.61010463109062, 3.315262184454696, 0.0)),
 Location(Adeniji Way, Lagos, Oshodi-Isolo, Lagos, (6.522722999999999, 3.3270862500000016, 0.0)),
 Location(Adebiyi St, Lagos, Lagos Mainland, Lagos, (6.515128320814704, 3.3833726683502796, 0.0)),
 Location(Adeniyi St, Lagos, Ifo, Ogun, (6.684588000000005, 3.3169679999999975, 0.0)),
 Location(Adeniyi St, Lagos, Mushin, Lagos, (6.531248784747149, 3.3633126968637774, 0.0)),
 Location(Adeniyi St, Lagos, Agege, Lagos, (6.620137380662672, 3.3212610158620417, 0.0)),
 Location(Adeniyi St, Lagos, Oshodi-Isolo, Lagos, (6.5158774953266905, 3.334393227570316, 0.0)),
 Location(Adeniyi St, Ikorodu, Lagos, (6.647299704084222, 3.4756923329052465, 0.0))]

## Point of Interest

### 3.1 Food, Healthcare and ATM POI

####  i. Calling the API

In [6]:
api = overpy.Overpass()

#### ii. Setting the Radius Treshold

In [7]:
# 9000 = 9km

In [40]:
result0 = api.query("""
    node(around:9000,6.610631531614608, 3.3449408111218664)["cuisine"];
    (._;>;);
    out body;
    """)

result1 = api.query("""
    node(around:9000,6.610631531614608, 3.3449408111218664)["healthcare"];
    (._;>;);
    out body;
    """)
result2 = api.query("""
    node(around:9000,6.610631531614608, 3.3449408111218664)["atm"];
    (._;>;);
    out body;
    """)


result3 = api.query("""
    node(around:9000,6.610631531614608, 3.3449408111218664)["sport"];
    (._;>;);
    out body;
    """)

####  Number of Cuisine,HealthCare and ATM

In [42]:
print("Number of Food Selling Places = ",len(result0.nodes))
print("Number of Health Care Facility = ",len(result1.nodes))
print("Number of ATM  = ",len(result2.nodes))
print("Number of Sport  = ",len(result3.nodes))

Number of Food Selling Places =  9
Number of Health Care Facility =  1
Number of ATM  =  5
Number of Sport  =  1

#### iv. Raw Results

In [43]:
data0 = []
for node0 in result0.nodes:
    print("Name: %s" % node0.tags.get("name", "n/a"))
    print("    Lat: %f, Lon: %f" % (node0.lat, node0.lon))
    data0.append(node0)
data01 = []
for node1 in result1.nodes:
    print("Name: %s" % node1.tags.get("name", "n/a"))
    print("    Lat: %f, Lon: %f" % (node1.lat, node1.lon))
    data01.append(node1)
data02 = []
for node2 in result2.nodes:
    print("Name: %s" % node2.tags.get("name", "n/a"))
    print("    Lat: %f, Lon: %f" % (node2.lat, node2.lon))
    data02.append(node2)
data03 = []
for node3 in result3.nodes:
    print("Name: %s" % node3.tags.get("name", "n/a"))
    print("    Lat: %f, Lon: %f" % (node3.lat, node3.lon))
    data03.append(node3)

Name: Fired Yam Joint
    Lat: 6.611509, Lon: 3.358840
Name: Chicken Republic
    Lat: 6.591666, Lon: 3.359756
Name: 7 Points Bar and Grill
    Lat: 6.601546, Lon: 3.352980
Name: KFC
    Lat: 6.614258, Lon: 3.357795
Name: Dreamfield Juice & Salad Bar
    Lat: 6.597941, Lon: 3.353668
Name: KFC
    Lat: 6.578476, Lon: 3.321260
Name: n/a
    Lat: 6.576825, Lon: 3.356149
Name: KFC
    Lat: 6.637780, Lon: 3.369842
Name: Tastee
    Lat: 6.602567, Lon: 3.305939
Name: HealthPlus
    Lat: 6.613858, Lon: 3.358141
Name: First Bank
    Lat: 6.623183, Lon: 3.299247
Name: UBA
    Lat: 6.558062, Lon: 3.391388
Name: GTBank
    Lat: 6.640153, Lon: 3.365502
Name: Zenith Bank
    Lat: 6.640268, Lon: 3.366062
Name: First Bank
    Lat: 6.640151, Lon: 3.367755
Name: Fod Gym
    Lat: 6.562515, Lon: 3.384014

#### v. Results in Tabular Format

In [44]:
import csv
with open('data0.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    for node0 in result0.nodes:
        csvwriter.writerow((node0.tags.get("name", "n/a") ,  6.610631531614608, 3.3449408111218664, node0.lat , node0.lon))

with open('data01.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    for node1 in result1.nodes:
        csvwriter.writerow((node1.tags.get("name", "n/a") ,  6.610631531614608, 3.3449408111218664, node1.lat , node1.lon))

with open('data02.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    for node2 in result2.nodes:
        csvwriter.writerow((node2.tags.get("name", "n/a") ,  6.610631531614608, 3.3449408111218664, node2.lat , node2.lon))

with open('data03.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    for node3 in result3.nodes:
        csvwriter.writerow((node3.tags.get("name", "n/a") ,  6.610631531614608, 3.3449408111218664, node3.lat , node3.lon))

In [45]:
#reading dataset 
Result0 = pd.read_csv('data0.csv'
                      ,header=None
                      ,names=["restaurant", "latitude_Res", "longitude_Res"
                                          , "latitude_Food", "longitude_Food"])
Result1 = pd.read_csv('data01.csv'
                      ,header=None
                      ,names=["Healthcare", "latitude_Res", "longitude_Res"
                                          , "latitude_Healthcare", "longitude_Healthcare"])
Result2 = pd.read_csv('data02.csv'
                      ,header=None
                      ,names=["ATM", "latitude_Res", "longitude_Res"
                                          , "latitude_ATM", "longitude_ATM"])

Result3 = pd.read_csv('data03.csv'
                      ,header=None
                      ,names=["Sport", "latitude_Res", "longitude_Res"
                                          , "latitude_Sport", "longitude_Sport"])

In [46]:
Result0.to_csv('Food_Place.csv', index=None)
Result1.to_csv('Healthcare.csv', index=None)
Result2.to_csv('ATM.csv', index=None)
Result3.to_csv('Sport.csv', index=None)

#                Point of Interest nearest to my Location using a 9km Radius

#### List of Restuarant

In [47]:
Result0

,restaurant,latitude_Res,longitude_Res,latitude_Food,longitude_Food
0,Fired Yam Joint,6.610632,3.344941,6.611509,3.358840
1,Chicken Republic,6.610632,3.344941,6.591666,3.359756
2,7 Points Bar and Grill,6.610632,3.344941,6.601546,3.352980
3,KFC,6.610632,3.344941,6.614258,3.357795
4,Dreamfield Juice & Salad Bar,6.610632,3.344941,6.597941,3.353668
5,KFC,6.610632,3.344941,6.578476,3.321260
6,NaN,6.610632,3.344941,6.576825,3.356149
7,KFC,6.610632,3.344941,6.637780,3.369842
8,Tastee,6.610632,3.344941,6.602567,3.305939

#### List of HealthCare

In [48]:
Result1

,Healthcare,latitude_Res,longitude_Res,latitude_Healthcare,longitude_Healthcare
0,HealthPlus,6.610632,3.344941,6.613858,3.358141

#### List of Automated Teller Machine

In [49]:
Result2

           ATM  latitude_Res  longitude_Res  latitude_ATM  longitude_ATM
0   First Bank      6.610632       3.344941      6.623183       3.299247
1          UBA      6.610632       3.344941      6.558062       3.391388
2       GTBank      6.610632       3.344941      6.640153       3.365502
3  Zenith Bank      6.610632       3.344941      6.640268       3.366062
4   First Bank      6.610632       3.344941      6.640151       3.367755

#### List of Sport complex

In [50]:
Result3

     Sport  latitude_Res  longitude_Res  latitude_Sport  longitude_Sport
0  Fod Gym      6.610632       3.344941        6.562515         3.384014

#### vi. Calculating the Distance

In [22]:
from geopy import distance
from geopy import Point

In [54]:
#creating a function to calculate distance 
def geo_distance0 (row0):
    House0 = Point(row0['latitude_Res'], row0['longitude_Res'])
    Food = Point(row0['latitude_Food'], row0['longitude_Food'])
    return distance.distance(House0, Food).km

def geo_distance1 (row1):    
    House1 = Point(row1['latitude_Res'], row1['longitude_Res'])
    Healthcare = Point(row1['latitude_Healthcare'], row1['longitude_Healthcare'])
    return distance.distance(House1, Healthcare).km

def geo_distance2 (row2):    
    House2 = Point(row2['latitude_Res'], row2['longitude_Res'])
    ATM = Point(row2['latitude_ATM'], row2['longitude_ATM'])
    return distance.distance(House2, ATM).km

def geo_distance3 (row3):    
    House3 = Point(row3['latitude_Res'], row3['longitude_Res'])
    sport = Point(row3['latitude_Sport'], row3['longitude_Sport'])
    return distance.distance(House3, sport).km

In [55]:
#applying to dataset
Result0['geo_distance'] = Result0.apply(lambda row0: geo_distance0(row0), axis=1)
Result1['geo_distance'] = Result1.apply(lambda row1: geo_distance1(row1), axis=1)
Result2['geo_distance'] = Result2.apply(lambda row2: geo_distance2(row2), axis=1)
Result3['geo_distance'] = Result3.apply(lambda row3: geo_distance3(row3), axis=1)

In [56]:
Result0

,restaurant,latitude_Res,longitude_Res,latitude_Food,longitude_Food,geo_distance
0,Fired Yam Joint,6.610632,3.344941,6.611509,3.358840,1.540071
1,Chicken Republic,6.610632,3.344941,6.591666,3.359756,2.661380
2,7 Points Bar and Grill,6.610632,3.344941,6.601546,3.352980,1.341560
3,KFC,6.610632,3.344941,6.614258,3.357795,1.476941
4,Dreamfield Juice & Salad Bar,6.610632,3.344941,6.597941,3.353668,1.703239
5,KFC,6.610632,3.344941,6.578476,3.321260,4.416253
6,NaN,6.610632,3.344941,6.576825,3.356149,3.938720
7,KFC,6.610632,3.344941,6.637780,3.369842,4.073908
8,Tastee,6.610632,3.344941,6.602567,3.305939,4.404263

In [57]:
Result1

,Healthcare,latitude_Res,longitude_Res,latitude_Healthcare,longitude_Healthcare,geo_distance
0,HealthPlus,6.610632,3.344941,6.613858,3.358141,1.5027

In [58]:
Result2

,ATM,latitude_Res,longitude_Res,latitude_ATM,longitude_ATM,geo_distance
0,First Bank,6.610632,3.344941,6.623183,3.299247,5.240137
1,UBA,6.610632,3.344941,6.558062,3.391388,7.757755
2,GTBank,6.610632,3.344941,6.640153,3.365502,3.978483
3,Zenith Bank,6.610632,3.344941,6.640268,3.366062,4.024540
4,First Bank,6.610632,3.344941,6.640151,3.367755,4.125703

In [59]:
Result3

,Sport,latitude_Res,longitude_Res,latitude_Sport,longitude_Sport,geo_distance
0,Fod Gym,6.610632,3.344941,6.562515,3.384014,6.854707

In [60]:
import pandas as pd    # For data loading & management
import os              # For operating system related activities
from tqdm import tqdm  # For monitroing the progress
tqdm.pandas()

In [61]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='my_app',timeout=None)
from geopy.extra.rate_limiter import RateLimiter

In [62]:
location = geolocator.reverse("9.07991, 7.4667474")

In [63]:
location.raw

{'place_id': 125909121,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 168978861,
 'lat': '9.080070497782646',
 'lon': '7.466849784066735',
 'display_name': 'Parakou Crescent, Wuse District, Mabushipe, Municipal Area Council, Federal Capital Territory, 900288, Nigeria',
 'address': {'road': 'Parakou Crescent',
  'suburb': 'Wuse District',
  'village': 'Mabushipe',
  'county': 'Municipal Area Council',
  'state': 'Federal Capital Territory',
  'postcode': '900288',
  'country': 'Nigeria',
  'country_code': 'ng'},
 'boundingbox': ['9.0744176', '9.0809769', '7.4652231', '7.4688341']}

In [64]:
location.raw['address']

{'road': 'Parakou Crescent',
 'suburb': 'Wuse District',
 'village': 'Mabushipe',
 'county': 'Municipal Area Council',
 'state': 'Federal Capital Territory',
 'postcode': '900288',
 'country': 'Nigeria',
 'country_code': 'ng'}

In [65]:
Address = "Parakou Crescent, Wuse District, Mabushipe, Municipal Area Council, Federal Capital Territory"
from geopy.geocoders import ArcGIS
ArcGIS_geolocator = ArcGIS()
ArcGIS_geolocator.geocode(Address, exactly_one=False)

[Location(Parakou Cres, Abuja, Abuja Municipal, Federal Capital Territory, (9.078181529729054, 7.468538487546602, 0.0)),
 Location(Federal Capital Territory, (8.906228843000065, 7.189050004000023, 0.0)),
 Location(Federal Capital Territory, Abuja Federal Capital Territory, (8.833330000000046, 7.166670000000067, 0.0))]

In [69]:
result0 = api.query("""
    node(around:1000,9.078181529729054, 7.468538487546602)["cuisine"];
    (._;>;);
    out body;
    """)

result1 = api.query("""
    way(around:1000,9.078181529729054, 7.468538487546602)["highway"];
    (._;>;);
    out body;
    """)

result2 = api.query("""
    node(around:3000,9.078181529729054, 7.468538487546602)["healthcare"];
    (._;>;);
    out body;
    """)

result3 = api.query("""
    node(around:3000,9.078181529729054, 7.468538487546602)["sport"];
    (._;>;);
    out body;
    """)

result4 = api.query("""
    relation(around:3000,9.078181529729054, 7.468538487546602)["education"];
    (._;>;);
    out body;
    """)

result5 = api.query("""
    node(around:3000,9.078181529729054, 7.468538487546602)["ATM"];
    (._;>;);
    out body;
    """)

In [70]:
print("Number of Food Selling Places = ",len(result0.nodes))
print("Number of Highway = ",len(result1.ways))
print("Number of Healthcare  = ",len(result2.nodes))
print("Number of Sport  = ",len(result3.nodes))
print("Number of education  = ",len(result4.relations))
print("Number of ATM  = ",len(result4.nodes))

Number of Food Selling Places =  2
Number of Highway =  241
Number of Healthcare  =  0
Number of Sport  =  0
Number of education  =  0
Number of ATM  =  0